@using Forum.WebModels.ViewModels
@model List<PostViewModel>

@{
    ViewData["Title"] = "Search";
    IEnumerable<UserViewModel> users = (IEnumerable<UserViewModel>)ViewData["Users"];
    string categoryId = (string)ViewData["ThreadId"];
    string loggedUser = User.Identity.Name;
}


@if (Model.Count() > 0)
{

    <h2>Search results</h2>

    @foreach (PostViewModel post in Model)
    {
        bool onOffLine = @users.FirstOrDefault(u => u.Id == post.UserId).IsItOnline;

        <table class="table-striped">
            <tbody>
                <tr class="post-row">
                    <td class="verticalSplit col-md-2">
                        <ul class="user-info">
                            <li>
                                <b><u>@users.FirstOrDefault(u => u.Id == post.UserId).Username</u></b>
                            </li>
                            <li>
                                Joined: @users.FirstOrDefault(u => u.Id == post.UserId).Joined.ToShortDateString()
                            </li>
                            @if (onOffLine)
                            {
                                <li>Status:&nbsp;<b style="color: lightseagreen;">Online</b></li>
                            }
                            else
                            {
                                <li>Status:&nbsp;<span style="color:#ff794d"><b>Offline</b></span></li>
                            }

                        </ul>
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (users.FirstOrDefault(u => u.Id == post.UserId).Username != User.Identity.Name)
                            {
                                <button class="btn btn-sm" style="background-color:#6c757d; color:#fff; border:1px solid white">PM</button>
                            }
                        }
                    </td>
                    @if (post.Content.Contains("e3f79af2"))
                    {
                        string[] arr = post.Content.Split(new string[] { "e3f79af2" }, StringSplitOptions.None);
                        var part1 = arr[0];
                        var part2 = arr[1];
                        var part3 = arr[2];

                        <td class="content col-md-8"><span style="color:darkorange">@part1</span> <br /> <span style="color:darkorange"><i><q>@part2</q></i></span> <br /> <br /> @part3 <br /></td>
                    }
                    else
                    {
                        <td class="content col-md-8">@post.Content</td>
                    }
                    <td class="verticalSplit col-md-2 date">Created: @post.DateCreated.ToShortDateString() @post.DateCreated.ToShortTimeString()</td>
                </tr>
                @if (User.Identity.IsAuthenticated)
                {
                    <tr class="buttons">
                        <td colspan="3" class="text-right">
                            @if (users.FirstOrDefault(u => u.Id == post.UserId).Username == User.Identity.Name)
                            {
                                ViewData["OriginalPost2"] = post.Content;
                                ViewData["PostId2"] = post.Id;
                                ViewData["ThreadId"] = @categoryId;
                                string postId2 = $"#postId{post.Id}";
                                <a class="btn btn-warning btn-sm" data-toggle="modal" data-target="@postId2">Edit Post</a>
                                <partial name="_EditPost" view-data="ViewData" />
                                <a class="btn btn-danger btn-sm" asp-action="DeletePost" asp-controller="Post" asp-route-id="@post.Id" asp-route-threadId="@categoryId">Delete Post</a>
                            }
                            else
                            {
                                ViewData["OriginalPost"] = post.Content.Replace("e3f79af2", "");
                                ViewData["OriginalPoster"] = users.FirstOrDefault(u => u.Id == post.UserId).Username;
                                ViewData["PostId"] = post.Id;
                                ViewData["ThreadId2"] = @categoryId;
                                string postId = $"#postId{post.Id}";

                                <a class="btn btn-success btn-sm" data-toggle="modal" data-target="@postId">Reply</a>
                                <partial name="_PostReply" view-data="ViewData" />
                            }
                        </td>
                    </tr>
                }
                else
                {
                    <tr class="blank-row"></tr>
                }
            </tbody>
        </table>
    }
    @if (User.Identity.IsAuthenticated)
    {
        <form asp-controller="Post" asp-action="AddPost" asp-route-threadId="@categoryId" asp-route-poster="@loggedUser" method="post" style="width: 50%;" class="center-block">
            <div class="form-group">
                <textarea name="text" class="form-control" id="text" rows="3" placeholder="Your post..."></textarea>
            </div>
            <div class="form-group text-center"><button class="btn btn-success">Post</button></div>
        </form>
    }
}
else
{
    <h3>Sorry, no matches...</h3>
}

