@model ForumViewModels.ViewModels.CategoryViewModel



<div class="container body-content">
    <div class="row post-header">
        <div class="section-description">
            <img src="@Model.ImageUrl" style="width:40px; height:40px; margin-right:20px; border-radius:3px;" />
            <div style="display:inline-block">Welcome to @Model.Title Forum</div>
        </div>
    </div>
    <div class="row post-index-content">
        @if (Model.Threads.Any())
        {
            <table class="table table-bordered table-hover" id="forum-index-table">
                <tbody>
                    @foreach (var thread in Model.Threads)
                    {
                    <tr>
                        <td>
                            @*<div class="forum-title">@Html.ActionLink(post.Title, "Index", "Post", new { id = post.Id })</div>*@
                            <div class="forum-title">
                                <div>
                                    <span class="post-author">@Html.ActionLink(thread.Title, "Index", "Post", new { id = thread.Id })</span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="post-date">
                                @thread.Created
                            </div>
                        </td>
                        <td>
                            <div class="forum-sub-title">
                               Posts: @thread.Posts.Count()
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="no-posts">
                <i class="material-icons md-72">question_answer</i>
                <h3>No threats</h3>
            </div>
        }
    </div>
    @if (User.Identity.IsAuthenticated)
    {

        <div class="section-heading">
            <span>
                @Html.ActionLink("Create Thread", "Add", "Post", new { id = Model.Id }, new { @class = "btn btn-newPost" })
            </span>
        </div>
    }
</div>

