@using Forum.WebModels.ViewModels
@model List<PostViewModel>
@{
    ViewData["Title"] = "ShowPosts";
    string categoryTitle = (string)ViewData["ThreadTitle"];
    string categoryId = (string)ViewData["ThreadId"];
    IEnumerable<UserViewModel> users = (IEnumerable<UserViewModel>)ViewData["Users"];
    IEnumerable<AlertViewModel> alerts = (IEnumerable<AlertViewModel>)ViewData["Alerts"];
    string loggedUser = User.Identity.Name;
    var currentUser = users.FirstOrDefault(u => u.Username == User.Identity.Name);
}

<h2>@categoryTitle</h2>
<br />
@foreach (PostViewModel post in Model)
{
    var user = users.FirstOrDefault(u => u.Id == post.UserId);
    bool onOffLine = user.IsItOnline;

    <table class="table-striped" width="100%">
        <tbody>
            <tr class="post-row">
                <td class="verticalSplit" style="width:20%">
                    <ul class="user-info">
                        <li>
                            <img style="width:70px; height:70px;border:1px solid white" src="@user.Avatar" />
                        </li>
                        <li>
                            <b><u>@user.Username</u></b>
                        </li>
                        <li>
                            Joined: @user.Joined.ToShortDateString()
                        </li>
                        @if (onOffLine)
                        {
                            <li>Online status:&nbsp;<b style="color: lightseagreen;">Online</b></li>
                        }
                        else
                        {
                            <li>Online status:&nbsp;<span style="color:#ff794d"><b>Offline</b></span></li>
                        }
                        @if (user.IsItSuspended == true)
                        {
                            <li>Account status:&nbsp;<span style="color:#ff794d"><b>Suspended</b></span></li>
                        }
                        else
                        {
                            <li>Account status:&nbsp;<span style="color:lightseagreen"><b>Active</b></span></li>
                        }

                    </ul>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (user.Username != User.Identity.Name)
                        {
                            ViewData["UserId"] = user.Id;
                            ViewData["Username"] = user.Username;
                            ViewData["ThreadId"] = categoryId;
                            string userId = $"#userId{ViewData["UserId"]}";


                            <button class="btn btn-sm" style="background-color:#6c757d; color:#fff; border:1px solid white"  data-toggle="modal" data-target="@userId">PM</button>
                            <partial name="_PrivateMessage" view-data="ViewData" />
                        }
                    }
                </td>
                @if (post.Content.Contains("e3f79af2"))
                {
                    string[] arr = post.Content.Split(new string[] { "e3f79af2" }, StringSplitOptions.None);
                    var part1 = arr[0];
                    var part2 = arr[1];
                    var part3 = arr[2];

                    <td class="content" style="width:60%"><span style="color:darkorange"><i>@part1</i></span> <br /> <span style="color:darkorange"><i><q>@part2</q></i></span> <br /> <br /> @part3 <br /></td>
                }
                else
                {
                    <td class="content" style="width:60%">@post.Content</td>
                }
                <td class="verticalSplit date" style="width:20%">Created: @post.DateCreated.ToShortDateString() @post.DateCreated.ToShortTimeString()</td>
            </tr>
            @if (User.Identity.IsAuthenticated)
            {
                <tr class="buttons">
                    <td colspan="3" class="text-right">
                        @if (users.FirstOrDefault(u => u.Id == post.UserId).Username == User.Identity.Name || User.IsInRole("admin"))
                        {
                            ViewData["OriginalPost2"] = post.Content.Replace("e3f79af2", "");
                            ViewData["PostId2"] = post.Id;
                            ViewData["ThreadId"] = @categoryId;
                            string postId2 = $"#postId{post.Id}";
                            <a class="btn btn-sm" style="background-color:#db9833; color:white" data-toggle="modal" data-target="@postId2">Edit Post</a>
                            <partial name="_EditPost" view-data="ViewData" />
                            <a class="btn btn-danger btn-sm" asp-action="DeletePost" asp-controller="Post" asp-route-id="@post.Id" asp-route-threadId="@categoryId">Delete Post</a>
                        }
                        @{
                            ViewData["OriginalPost"] = post.Content.Replace("e3f79af2", "");
                            ViewData["OriginalPoster"] = users.FirstOrDefault(u => u.Id == post.UserId).Username;
                            ViewData["PostId"] = post.Id;
                            ViewData["ThreadId2"] = @categoryId;
                            string postId = $"#postId{post.Id}";
                            var isItReported = alerts.FirstOrDefault(a => a.PostId == post.Id);
                            string loggedUserId = users.FirstOrDefault(u => u.Username == loggedUser).Id;
                            var isCurrentUserSuspended = users.FirstOrDefault(u => u.Id == loggedUserId).IsItSuspended;
                        }
                        @if (User.Identity.Name != users.FirstOrDefault(u => u.Id == post.UserId).Username && !isCurrentUserSuspended)
                        {
                            <a class="btn btn-success btn-sm" data-toggle="modal" data-target="@postId">Reply</a>
                            <partial name="_PostReply" view-data="ViewData" />
                        }
                        @if (isItReported == null && !User.IsInRole("admin") && User.Identity.Name != users.FirstOrDefault(u => u.Id == post.UserId).Username)
                        {
                            <a class="btn btn-danger btn-sm" asp-action="CreateAlert" asp-controller="Alert" asp-route-userId="@user.Id" asp-route-postId="@post.Id" asp-route-threadId="@categoryId">Report</a>
                        }
                    </td>
                </tr>
            }
            else
            {
                <tr class="blank-row"></tr>
            }
        </tbody>
    </table>
}
@if (User.Identity.IsAuthenticated && currentUser.IsItSuspended != true)
{
    <form asp-controller="Post" asp-action="AddPost" asp-route-threadId="@categoryId" asp-route-poster="@loggedUser" method="post" style="width: 50%;" class="center-block">
        <div class="form-group">
            <textarea name="text" class="form-control" id="text" rows="3" placeholder="Your post..."></textarea>
        </div>
        <div class="form-group text-center"><button class="btn btn-success">Post</button></div>
    </form>
}