@using Forum.Services.Interfaces
@inject IUserService _userService
@inject IAlertService _alertService
@inject IPrivateMessageService _messageService
<!DOCTYPE html>

@{
    bool isAdmin = User.IsInRole("admin");
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="~/avatars/ForumIcon.png" sizes="any" type="image/png">
    <title>@ViewData["Title"] - Forum.WebApp</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-superhero.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Category" asp-action="ShowAllCategories" class="navbar-brand">Forum</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @if (User.IsInRole("admin"))
                    {
                        <li>
                            <div class="dropdown">
                                <button style="background:#df691a; color:white" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Create category
                                </button>
                                <div style="background:#2b3e50" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <form style="background: #2b3e50" class="form-inline" asp-controller="Category" asp-action="CreateCategory" method="post">
                                        <input style="background-color:#df691a; color:white; border:1px solid white" class="form-control" name="title" type="search" placeholder="New Category" aria-label="Search">
                                        <button style="background:#f0ad4e; color:white" class="btn btn-sm" type="submit">Create</button>
                                    </form>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="User" asp-action="Members">Members</a>
                        </li>
                        <li>
                            <a asp-controller="User" asp-action="RegisterAdmin">Create Admin</a>
                        </li>
                        <li>

                            @{ 
                                var countOfAlerts = _alertService.GetAllAlerts().Count();
                            }

                            <a asp-action="ShowAlerts" asp-controller="Alert">Alerts&nbsp;<span style="color:greenyellow"><b>@countOfAlerts</b></span></a>
                        </li>
                    }

                    <li><a asp-area="" asp-controller="Post" asp-action="RecentPosts" asp-route-page="0">Recent posts</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form class="form-inline" asp-controller="Post" asp-action="Search" method="post">
                            <input style="background-color:#df691a; color:white; border:1px solid white" class="form-control" name="search" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-primary" type="submit">Search</button>
                        </form>
                    </li>
                    <li>

                        @if (!User.Identity.IsAuthenticated)
                        {
                            <a asp-area="" asp-controller="User" asp-action="Registration">Register</a>
                        }

                    </li>
                    <li>

                        @if (User.Identity.IsAuthenticated)
                        {
                            string userId = _userService.GetCurrentUser(User.Identity.Name).Id;
                            string countOfMessages = _messageService.GetAllMessages().Where(pm => pm.receiverId == userId).Count().ToString();
                            <a asp-area="" asp-controller="User" asp-action="Profile">Hi @User.Identity.Name&nbsp;<span style="color:greenyellow"><b>@countOfMessages</b></span></a>
                        }

                    </li>
                    <li>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <a asp-area="" asp-controller="User" asp-action="LogOut">Log Out</a>
                        }
                        else
                        {
                            <a asp-area="" asp-controller="User" asp-action="LogIn">Log In</a>
                        }

                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">

        @RenderBody()

        <footer>
            <p>&copy; 2019 - Forum</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)

</body>
</html>
