@using Forum.WebModels.ViewModels
@model List<PostViewModel>
@{
    ViewData["Title"] = "RecentPosts";
    IEnumerable<UserViewModel> users = (IEnumerable<UserViewModel>)ViewData["Users"];
    IEnumerable<ThreadViewModel> threads = (IEnumerable<ThreadViewModel>)ViewData["Threads"];

    int count = (int)ViewData["RecentPostsCount"];
    IEnumerable<AlertViewModel> alerts = (IEnumerable<AlertViewModel>)ViewData["Alerts"];
    int page = ViewBag.Page;
    int totalCount = ViewBag.TotalCount;
}

<h2>Recent Posts</h2>

@foreach (PostViewModel post in Model)
{
    var user = users.FirstOrDefault(u => u.Id == post.UserId);
    bool onOffLine = user.IsItOnline;

    <table class="table-striped">
        <tbody>
            <tr>
                <td colspan="3" style="background-color:#2b3e50">
                    @{
                        string id = threads.FirstOrDefault(t => t.Id == post.ThreadId).Id;
                        string title = threads.FirstOrDefault(t => t.Id == post.ThreadId).Title;
                    }

                    <a asp-action="ShowThread" asp-controller="Category" asp-route-Id="@id">@title</a>
                </td>
            </tr>
            <tr class="post-row">
                <td class="verticalSplit col-md-2" style="background-color:#4e5d6c">
                    <ul class="user-info">
                        <li>
                            <img style="width:70px; height:70px;border:1px solid white" src="@user.Avatar" />
                        </li>
                        <li>
                            <b><u>@user.Username</u></b>
                        </li>
                        <li>
                            Joined: @user.Joined.ToShortDateString()
                        </li>
                        @if (onOffLine)
                        {
                            <li>Status:&nbsp;<b style="color: lightseagreen;">Online</b></li>
                        }
                        else
                        {
                            <li>Status:&nbsp;<span style="color:#ff794d"><b>Offline</b></span></li>
                        }
                        @if (user.IsItSuspended == true)
                        {
                            <li>Account status:&nbsp;<span style="color:#ff794d"><b>Suspended</b></span></li>
                        }
                        else
                        {
                            <li>Account status:&nbsp;<span style="color:lightseagreen"><b>Active</b></span></li>
                        }
                    </ul>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (user.Username != User.Identity.Name)
                        {
                            ViewData["UserId"] = user.Id;
                            ViewData["Username"] = user.Username;
                            ViewData["ThreadId"] = threads.FirstOrDefault(t => t.Id == post.ThreadId).Id;
                            string userId = $"#userId{ViewData["UserId"]}";


                            <button class="btn btn-sm" style="background-color:#6c757d; color:#fff; border:1px solid white" data-toggle="modal" data-target="@userId">PM</button>
                            <partial name="_PrivateMessage" view-data="ViewData" />
                        }
                    }
                </td>
                @if (post.Content.Contains("e3f79af2"))
                {
                    string[] arr = post.Content.Split(new string[] { "e3f79af2" }, StringSplitOptions.None);
                    var part1 = arr[0];
                    var part2 = arr[1];
                    var part3 = arr[2];

                    <td class="content col-md-8"><span style="color:darkorange"><i>@part1</i></span> <br /> <span style="color:darkorange"><i><q>@part2</q></i></span> <br /> <br /> @part3 <br /></td>
                }
                else
                {
                    <td class="content col-md-8" style="background-color:#4e5d6c">@post.Content</td>
                }
                <td class="verticalSplit col-md-2 date" style="background-color:#4e5d6c">Created: @post.DateCreated.ToShortDateString() @post.DateCreated.ToShortTimeString()</td>
            </tr>
            @if (User.Identity.IsAuthenticated)
            {
                var isItReported = alerts.FirstOrDefault(a => a.PostId == post.Id);

                <tr class="buttons">
                    <td colspan="3" class="text-right" style="background-color:#2b3e50">
                        @if (users.FirstOrDefault(u => u.Id == post.UserId).Username == User.Identity.Name || User.IsInRole("admin"))
                        {
                            ViewData["OriginalPost2"] = post.Content.Replace("e3f79af2", "");
                            ViewData["PostId2"] = post.Id;
                            ViewData["ThreadId"] = threads.FirstOrDefault(t => t.Id == post.ThreadId).Id;
                            string threadId = threads.FirstOrDefault(t => t.Id == post.ThreadId).Id;
                            string postId2 = $"#postId{post.Id}";
                            <a class="btn btn-warning btn-sm" data-toggle="modal" data-target="@postId2">Edit Post</a>
                            <partial name="_EditPost" view-data="ViewData" />
                            <a class="btn btn-danger btn-sm" asp-action="DeletePost2" asp-controller="Post" asp-route-id="@post.Id">Delete Post</a>
                        }

                        @if (users.FirstOrDefault(u => u.Id == post.UserId).Username != User.Identity.Name && !User.IsInRole("admin") && isItReported == null)
                        {
                            ViewData["OriginalPost"] = post.Content.Replace("e3f79af2", "");
                            ViewData["OriginalPoster"] = users.FirstOrDefault(u => u.Id == post.UserId).Username;
                            ViewData["PostId"] = post.Id;
                            ViewData["ThreadId2"] = threads.FirstOrDefault(t => t.Id == post.ThreadId).Id;
                            string postId = $"#postId{post.Id}";

                            <a class="btn btn-success btn-sm" data-toggle="modal" data-target="@postId">Reply</a>
                            <partial name="_PostReply" view-data="ViewData" />
                            <a class="btn btn-danger btn-sm" asp-action="CreateAlert2" asp-controller="Alert" asp-route-userId="@user.Id" asp-route-postId="@post.Id" asp-route-threadId="@post.ThreadId">Report</a>
                        }
                    </td>
                </tr>
            }
            else
            {
                <tr class="blank-row"></tr>
            }
        </tbody>
    </table>
}
<br />
@if (!(totalCount < 5))
{
    <div class="text-center">
        @for (int i = 0; i < count; i++)
        {
            var index = i + 1;

            if (index == page + 1)
            {
                <a style="padding:0px 7px; text-decoration:underline; color:white" asp-action="RecentPosts" asp-controller="Post" asp-route-page="@i"><strong>@index</strong></a>
                continue;
            }

            <a style="padding:0px 7px" asp-action="RecentPosts" asp-controller="Post" asp-route-page="@i">@index</a>
        }
    </div>
}
<br />