@model ForumWeb.Models.TopicViewModel



<div class="container body-content">
    <div class="row post-header">
        <div class="section-description">
            <img src="@Model.Forum.ImageUrl" style="width:40px; height:40px; margin-right:20px; border-radius:3px;" />
            <div style="display:inline-block">Welcome to @Model.Forum.Title Forum</div>
        </div>
    </div>
    <div class="row post-index-content">
        @if (Model.Posts.Any())
        {
            <table class="table table-bordered table-hover" id="forum-index-table">
                <tbody>
                    @foreach (var post in Model.Posts)
                    {
                        <tr>
                            <td>
                                <div class="forum-title">@Html.ActionLink(post.Title, "Index", "Post", new { id = post.Id })</div>
                                <div class="forum-sub-title">
                                    <div>
                                        <span class="post-author">@Html.ActionLink(post.AuthorName, "Details", "Profile", new { id = post.AuthorId })</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="post-reply-count">
                                    Replies:@post.RepliesCount
                                </div>
                            </td>
                            <td>
                                <div class="post-date">
                                    @post.DatePosted
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="no-posts">
                <i class="material-icons md-72">question_answer</i>
                <h3>No posts</h3>
            </div>
        }
    </div>
    <div class="section-heading">
        <span>
            @Html.ActionLink("Create Post", "Add", "Post", new { id = Model.Forum.Id }, new { @class = "btn btn-newPost" })
        </span>
    </div>
</div>

