@model ForumWeb.Models.PostViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="container body-content">
    <div class="row post-header">
            <span class="post-title">@Model.Title</span>
            <span id="heading-btn">@Html.ActionLink( "Back to " +  @Model.ForumTitle, "Details", "Home", new { id = @Model.ForumId },new { @class= "btn btn-back"})</span>
    </div>
    <div class="row post-index-content">
        <div class="col-md-3 post-author">
            <div class="post-author-img">
                <img src="@Model.AuthorImageUrl" style="width:80px; height:80px;"/>
            </div>
            @Html.ActionLink( @Model.AuthorName, "Details", "Profile", new { id = @Model.AuthorId }, new { @class = "btn btn-back" })
            <br/><span class="post-date">@Model.DatePosted</span>
        </div>
        <div class="col-md-9 post-content-container">
            <div class="post-content">
                @Html.Raw(Model.Content)
            </div>
        </div>
    </div>
        <div class="row reply-divider"></div>
        <div class="row">
            <span>@Html.ActionLink("Post Reply", "Add", "Reply",new { id = Model.Id}, new { @class = "btn btn-new-reply" })</span>
        </div>
    @if (Model.Replies.Any())
    {
        foreach(var reply in Model.Replies)
        {
            <div class="row reply-content">
                <div class="col-md-3 reply-author">
                    <div class="post-author-img"><img src="@reply.AuthorImageUrl" /></div>
                    @Html.ActionLink(@Model.AuthorName, "Details", "Home", new { id = @Model.AuthorId })
                    <span>@reply.DatePosted</span>
                </div>
                <div class="col-md-9 reply-content">
                    <div class="post-content">
                        @Html.Raw(reply.Content)
                    </div>
                </div>
            </div>
        }
    }
</div>