@using Forum.WebModels.ViewModels
@model List<UserViewModel>
@{
    ViewData["Title"] = "Members";
}

<h3 style="text-align:center">Members</h3>
<br />
<table class="table-striped members" style="margin:0 auto">
    <thead>
        <th style="width:54%; padding:1%">Full name</th>
        <th class="text-center" style="width:23%">Username</th>
        <th class="text-center" style="width:23%">Joined</th>
    </thead>
    <tbody>
        @foreach (UserViewModel user in @Model)
        {
            <tr>
                <td style="padding:1%">
                    @user.FullName
                    <a class="btn btn-danger btn-sm" style="float:right" asp-action="DeleteUser" asp-controller="User" asp-route-userId="@user.Id">Delete</a>
                    @if (user.IsItSuspended == false)
                    {
                        <a class="btn btn-warning btn-sm" style="float:right; margin-right:0.5%" asp-action="Suspend" asp-controller="User" asp-route-userId="@user.Id">Suspend</a>
                    }
                    else
                    {
                        <a class="btn btn-success btn-sm" style="float:right; margin-right:0.5%" asp-action="Unsuspend" asp-controller="User" asp-route-userId="@user.Id">Unsuspend</a>
                    }
                </td>
                <td class="text-center">
                    @user.Username
                </td>
                <td class="text-center">
                    @user.Joined
                </td>
            </tr>
        }
    </tbody>
</table>
<br />