@model ForumViewModels.ViewModels.ThreadViewModel




    <div class="container body-content">
        <div class="row post-header">
            <span id="heading-btn">@Html.ActionLink("Back to " + @Model.Title, "Category", "Category", new { id = @Model.Category.Id }, new { @class = "btn btn-back" })</span>
        </div>
    @if (Model.Posts.Any())
    {
        @foreach (var post in Model.Posts)
        {
            <div class="row post-index-content">
                <div class="col-md-3 post-author">
                    <div class="post-author-img">
                        <img src="" style="width:80px; height:80px;" />
                    </div>
                    Posted by:
                    @Html.ActionLink(post.User.UserName, "Profile", "Users", new { username = post.User.UserName }, new { @class = "btn btn-back" })
                    <br /><span class="post-date">@Model.Created</span>
                </div>
                <div class="col-md-9 post-content-container">
                    <div class="post-content">
                        @Html.Raw(post.Content)
                    </div>
                </div>
            </div>
            <br />
        }
    }
    else
    {
        <div class="post-index-content" id="forum-index-table">
            <i class="material-icons md-72">question_answer</i>
            <h3>No posts</h3>
        </div>
    }
    @if (User.Identity.IsAuthenticated)
    {

        <div class="row reply-divider"></div>
        <div class="row">
            <span>@Html.ActionLink("Create Post", "CreatePost", "Post", new { id = Model.Id }, new { @class = "btn btn-new-reply" })</span>
        </div>
    }
</div>
