@model ForumViewModels.ViewModels.PaginationModel




<div class="container body-content">
    <div class="row post-header">
        <span id="heading-btn">@Html.ActionLink("Back to " + (string)ViewBag.thread.Title, "Category", "Category", new { id = @ViewBag.thread.Category.Id }, new { @class = "btn btn-back" })</span>
    </div>
    @if (Model.Data.Any())
    {
        @foreach (var post in Model.Data)
        {
            <div class="row post-index-content">
                <div class="col-md-3 post-author">
                    <div class="post-author-img">
                        <img src="@post.User.ImageUrl" style="width:120px; height:120px;" />
                    </div>
                    @Html.ActionLink(post.User.UserName, "Profile", "Users", new { username = post.User.UserName }, new { @class = "btn btn-back" })
                    <br /><span class="post-date">@post.Created</span>
                </div>
                <div class="col-md-9 post-content-container">
                    <div class="post-content">
                        @Html.Raw(post.Content)
                    </div>
                    @if (ViewBag.user != null)
                    {
                        @if (ViewBag.user.UserName == post.User.UserName)
                        {
                            <div>
                                @Html.ActionLink("Edit", "EditPost", "Post", new { id = post.Id }, new { @class = "btn btn-back" })
                                @Html.ActionLink("Delete", "DeletePost", "Post", new { id = post.Id }, new { @class = "btn btn-back" })
                            </div>
                        }
                    }
                </div>
            </div>
            <br />
        }
    }
    else
    {
        <div class="no-posts" id="forum-index-table">
            <i class="material-icons md-72">question_answer</i>
            <h3>No posts</h3>
        </div>
    }
    @if (User.Identity.IsAuthenticated)
    {

        <div class="row reply-divider"></div>
        <div class="row">
            <span>@Html.ActionLink("Create Post", "CreatePost", "Post", new { id = ViewBag.thread.Id }, new { @class = "btn btn-new-reply" })</span>
        </div>
    }
</div>
<div>
    <ul class="pagination">
        @for (var i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                <a asp-route-currentpage="@i" class="page-link">@i</a>
            </li>
        }
    </ul>
</div>
