@model PaginationModel


@foreach (var post in Model.Data)
{
    <div class="row post-index-content">
        <div class="col-md-3 post-author">
            <div class="post-author-img">
                <img src="@post.User.ImageUrl" style="width:120px; height:120px;" />
            </div>
            @Html.ActionLink(post.User.UserName, "Profile", "Users", new { username = post.User.UserName }, new { @class = "btn btn-back" })
            <br /><span class="post-date">@post.Created</span>
        </div>
        <div class="col-md-8 post-content-container">
            <div class="post-content">
                @Html.Raw(post.Content)
            </div>
        </div>
        <div class="col-md-1 post-content-container">
            @if (ViewBag.user != null)
            {
                @if (ViewBag.user.UserName == post.User.UserName)
                {
            <div>
                <a asp-controller="Post" asp-action="EditPost" asp-route-id="@post.Id"><i class="glyphicon glyphicon-pencil" style="font-size:28px"></i></a><br/><br/>
                <a asp-controller="Post" asp-action="DeletePost" asp-route-id="@post.Id"><i class="glyphicon glyphicon-trash" style="font-size:28px"></i></a>
            </div>
                }
            }

        </div>
    </div>
    <br />
}
<div>
    <ul class="pagination">
        @for (var i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                <a asp-route-currentpage="@i" class="page-link">@i</a>
            </li>
        }
    </ul>
</div>  