@model ForumViewModels.ViewModels.ThreadViewModel

@if (Model.Posts.Any())
{
        <div class="container body-content">
            <div class="row post-header">
                @*<span class="post-title">@Model.Title</span>*@
                <span id="heading-btn">@Html.ActionLink("Back to " + @Model.Title, "Details", "Home", new { id = @Model.Id }, new { @class = "btn btn-back" })</span>
        </div>
    @foreach(var post in Model.Posts)
    {

        <div class="row post-index-content">
            <div class="col-md-3 post-author">
                <div class="post-author-img">
                    <img src="" style="width:80px; height:80px;" />
                </div>
                Posted by:
                    @Html.ActionLink(post.User.UserName, "Details", "Profile", new { username = post.User.UserName }, new { @class = "btn btn-back" })
                    <br /><span class="post-date">@Model.Created</span>
            </div>
        <div class="col-md-9 post-content-container">
            <div class="post-content">
                @Html.Raw(post.Content)
            </div>
        </div>
    </div>
    @if (User.Identity.IsAuthenticated)
    {

        <div class="row reply-divider"></div>
        <div class="row">
            <span>@Html.ActionLink("Post Reply", "Add", "Reply", new { id = Model.Id }, new { @class = "btn btn-new-reply" })</span>
        </div>
    }
    @if (post.Replies.Any())
    {
        foreach (var reply in post.Replies)
        {
            <div class="row reply-content">
                <div class="col-md-3 reply-author">
                    <div class="post-author-img"><img /></div>
                        @Html.ActionLink(reply.User.UserName, "Details", "Profile", new { username = reply.User.UserName })
                        <span>@reply.Created</span>
                    </div>
                <div class="col-md-9 reply-content">
                    <div class="post-content">
                        @Html.Raw(reply.Content)
                    </div>
                </div>
            </div>
        }
    }
}
</div>
    }
</br>